/* FOOTER SOFTSTOP*/

.FooterSoft {
    width: 100%;
    padding: 80px 5% 30px; /* Mucho aire arriba para separar del contenido */
    background-color: transparent;
}

/* --- DISTRIBUCIÓN DE COLUMNAS (GRID) --- */
.FooterContenido {
    display: grid;
    /* La primera columna toma más espacio (2 fracciones), las demás 1 fracción */
    grid-template-columns: 2fr 1fr 1fr 1fr; 
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto 60px;
}

/* --- COLUMNA 1: MARCA --- */
.FooterColumna.Marca {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.LogoSoftStopFooter {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.LogoSoftStopFooter .LogoImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: var(--sombra-suave);
}

.LogoSoftStopFooter .NombreMarca {
    font-family: var(--fuente-principal);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--color-texto);
}

.Tagline {
    font-family: var(--fuente-secundaria);
    font-size: 14px;
    color: var(--color-gris);
    line-height: 1.7;
    margin-bottom: 28px;
    max-width: 300px;
}

.RedesSociales {
    display: flex;
    gap: 20px;
}

.RedesSociales a {
    font-family: var(--fuente-secundaria);
    font-size: 14px;
    font-weight: 600;
    color: var(--colorfooter);
    text-decoration: none;
    transition: color 0.3s ease;
}

.RedesSociales a:hover {
    color: var(--colorfooter);
}

/* --- COLUMNAS 2, 3 Y 4: ENLACES --- */
.FooterColumna h4 {
    font-family: var(--fuente-principal);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--colorfooter);
    margin-bottom: 25px;
}

.FooterColumna a {
    display: block;
    font-family: var(--fuente-secundaria);
    font-size: 14px;
    color: var(--colorfooter);
    text-decoration: none;
    margin-bottom: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.FooterColumna a:hover {
    color: var(--logo-morado);
    transform: translateX(4px); /* Se mueve un poquito a la derecha al hacer hover */
}



@keyframes pulsar {
    0% { box-shadow: 0 0 0 0 rgba(255, 51, 204, 0.4); }
    70% { box-shadow: 0 0 0 6px rgba(255, 51, 204, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 51, 204, 0); }
}

/* --- PIE DEL FOOTER (LÍNEA INFERIOR) --- */
.FooterBase {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    border-top: 1px solid rgba(224, 224, 224, 0.6); /* Línea sutil estilo la imagen */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-family: var(--fuente-secundaria);
    font-size: 13px;
    color: #918B8D;
}

.BadgeBeta {
    background: rgba(218, 112, 214, 0.12); /* Orquídea transparente */
    color: var(--color-orquidea);
    padding: 6px 14px;
    border-radius: var(--radio-pill);
    font-weight: 600;
}