/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* Aquí aplicamos el nuevo fondo.jpg a todo el sitio */
    background-image: url('../img/fondo.png'); 
    background-size: cover;       
    background-position: center;  
    background-attachment: fixed; 
    background-repeat: no-repeat;
    
    color: var(--color-texto);
    font-family: var(--fuente-principal);
}

button,
input,
textarea,
select {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
}